<app-page-title
  pageTitle="Wood Shutters"
  [breadcrumbs]="breadcrumbs"
></app-page-title>

<div class="bg-white">
  <div class="container text-container">
    <h5>
      At Madison Avenue Window Fashions we’ve been supplying and installing
      custom wood shutters to our customers for over 30 years. Whether it be the
      classic California Shutter style or a customized style and design of
      shutters, all our installations are performed by factory trained
      installers with years of experience working respectfully within customer
      homes. We hand finish all of our wood shutters to ensure the absolute best
      quality.
    </h5>
    <h5>
      Considering custom shutters or California shutters? Book a free in-home
      consultation today. We’ll take care of your requirements quickly and
      efficiently!
    </h5>
    <h5>
      We would also be pleased to have you visit our showroom at <br />150 Oak
      Park Blvd Unit 3, Oakville, ON L6H 0E7
    </h5>
  </div>
</div>

<!-- Gallery -->
<div class="container-fluid p-0">
  <div class="elfsight-app-226dcfbf-45b3-4071-a91e-9e11aae38c48"></div>
</div>

<!-- Icons -->
<div class="bg-white">
  <div class="container py-3" id="before-buying-container">
    <div class="row text-center g-5">
      <div class="col-12 col-lg-4">
        <app-icon
          title="Benefits of Wood Shutters"
          text="There are many benefits to having Madison Avenue Wood Shutters installed in your home."
          text1="Made in Canada"
          text2="High quality craftsmanship and customized to your requirement. Shutters provide insulation for your home which translates into energy savings."
          text3="They allow for maximum privacy while creating an upscale look for your home’s interior design.
          Easily control intensity & direction of sunlight with dual operation push rods."
        ></app-icon>
      </div>
      <div class="col-12 col-lg-4">
        <app-icon
          title="Shutters"
          text="We are considered experts in the field of California Shutters, and we take great pride in this. Choose between our custom-made, economical wood shutters, or our exclusive, top-of-the line Maxxmar Shutters. Whatever you choose, we’ll make sure to meet your budget and exceed your expectations. We always aim to provide durable and aesthetically pleasing products, delivered with top-notch customer service. For over 30 years we’ve been providing customized California Shutters to residences and business in Toronto, the GTA, and Southern Ontario. Call us now for a free, no obligation, in-home consultation."
        ></app-icon>
      </div>
      <div class="col-12 col-lg-4">
        <app-icon
          title="Custom Crafted Furniture for Your Windows"
          text="Enhance any décor with beautiful window coverings. The classic look of custom wood shutters never goes out of fashion. Available in in 1 1/2 “, 2 1/2″, and 3 1/2″ louvre sizes. Our hand crafted custom wood shutters are made in our factory, assuring they meet our high standards. We provide painted or stained finishes; along with our full satisfaction warranty."
          text1="Let one of our expert design consultants visit your home or office to discuss all the details. Call today!"
        ></app-icon>
      </div>
    </div>
  </div>
</div>

<!-- Request a Free Quote -->
<div class="bg-primary text-center py-2">
  <button class="btn btn-custom">REQUEST A FREE QUOTE</button>
</div>

<app-contact-map-container></app-contact-map-container>
