<app-page-title pageTitle="Shades" [breadcrumbs]="breadcrumbs"></app-page-title>

<div class="mt-2"></div>

<!-- Slider -->
<app-slider [slider]="bannerSlider"></app-slider>

<div class="bg-primary">
  <div class="container py-5">
    <h5>
      At Madison Avenue Window Fashions, we offer an extensive selection of
      shades in a wide variety of colours. View some of Madison Avenue Window
      Fashion Showroom Shades.
    </h5>
  </div>
</div>

<!-- Dual Shades -->
<app-maxx-slider-text
  title="Dual Shades"
  text="Dual Shades offers the privacy of a shade, the softened view of a
  sheer and the option of raising and lowering your shade with privacy
  control at every level."
  [slider]="dueShadesSlider"
></app-maxx-slider-text>

<!-- Opera Dual Shades -->
<app-maxx-slider-text
  title="Opera Dual Shades"
  text="Opera Dual shades include our proprietary opera system, offering the
  ultimate in light control combining two shades in one sleek operating
  system."
  [slider]="operaShadesSlider"
  [bgWhite]="false"
></app-maxx-slider-text>

<!-- Opera Shade Control System -->
<app-maxx-slider-text
  title="Opera Shade Control System"
  text="An industry first, our patented Opera system offers a truly unique and
  perfect room darkening shade. Its innovative design combines the
  beauty of a wide assortment of elegant fabrics across a multitude of
  product categories with the functionality of a room darkening fabric."
  [slider]="opearShadeCtrlSlider"
></app-maxx-slider-text>

<!-- Mira Vista Roller Shades -->
<app-maxx-slider-text
  title="Mira Vista Roller Shades"
  text="MiraVista Roller Shades offer the most comprehensive assortment of
  fabrics available today. Divided into five key sub-categories
  including Designer, EnviroGreen, Grasscloth, Blackout and Screens,
  these fabrics can be tailored to any style of design and application.
  Also available with the OPERA option"
  [slider]="miraSlider"
  [bgWhite]="false"
></app-maxx-slider-text>

<!-- Sunset Shades -->
<app-maxx-slider-text
  title="Sunset Shades"
  text="Sunset Shades combines the beauty of elegant soft sheer face fabrics
  with woven floating semi-translucent fabric louvers. Its innovative
  design allows for unlimited creativity to suit any style of decor.Also
  available with the OPERA option."
  [slider]="sunsetSlider"
></app-maxx-slider-text>

<!-- Roman Shades -->
<app-maxx-slider-text
  title="Roman Shades"
  text="The Roman Shades have a vast selection of fabrics that will enhance
any décor. Our new “Assante Collection” of drapery style fabrics are
every designers dream. Liners are optional from dim out to blackout."
  [slider]="romanSlider"
  [bgWhite]="false"
></app-maxx-slider-text>

<!-- Mira Vista Pleated Shades -->
<app-maxx-slider-text
  title="Mira Vista Pleated Shades"
  text="The MiraVista Pleated Shades are available in a wide assortment of
jacquards, solids, tone on tone prints and metalized backings, as well
as room darkening fabrics tailored to fit any style of décor."
  [slider]="vistaSlider"
></app-maxx-slider-text>

<!-- Cellular Shades -->
<app-maxx-slider-text
  title="Cellular Shades"
  text="The Cellular Shades are available in a wide assortment of fabric
choices ranging from plain through decorative patterns, textures and
opacities. Available in ¾”, 3/8” single cell as well as double cell. •
100% polyester fabric is both anti-static and dust repellent. Also
available with the OPERA option."
  [slider]="cellularSlider"
  [bgWhite]="false"
></app-maxx-slider-text>

<!-- Vertical Shades -->
<app-maxx-slider-text
  title="Vertical Shades"
  text="The Vertical Shadings feature an innovative and unique design that
combines the best features and functionality of horizontal, vertical,
and sunscreen shades into a single luxurious shading product."
  text1="Unlike vertical blinds, Vertical Shadings allow you to raise the
blinds like a roller shade while giving you a completely open view to
the exterior. An excellent feature especially for homes with patio
doors, garden doors, and French doors."
  [slider]="verticalSlider"
  [bgWhite]="false"
></app-maxx-slider-text>

<!-- Motorization -->
<app-maxx-slider-text
  title="Motorization"
  text="With the increased consumer demand for window covering automation, we
are able to provide a wide assortment of options to motorize many
different types of blinds and shades. Whether it be hard to reach or
elevated window covering or to control glare and protect interior
furnishings from the suns harmful UV rays, we offer a selection of
automation choices. Whether it is hardwired or battery powered a full
selection of motorization options are available to suit any consumers
needs."
  [slider]="motorSlider"
  [bgWhite]="false"
></app-maxx-slider-text>

<!-- Request a Quote -->
<app-maxx-request-quote></app-maxx-request-quote>

<!-- Reviews -->
<app-maxx-reviews></app-maxx-reviews>

<!-- Contact Form & Map -->
<app-contact-map-container></app-contact-map-container>
