<app-page-title pageTitle="Shades" [breadcrumbs]="breadcrumbs"></app-page-title>

<div class="mt-2"></div>
<!-- Slider -->
<app-slider [slider]="bannerSlider"></app-slider>

<div class="bg-primary">
  <div class="container py-5">
    <h5>
      At Madison Avenue Window Fashions, we offer an extensive selection of
      shades in a wide variety of colours. View some of Madison Avenue Window
      Fashion Showroom Shades.
    </h5>
  </div>
</div>

<!-- Dual Shades -->
<div class="bg-white">
  <div class="container py-4">
    <h2 class="mb-4">Dual Shades</h2>
    <div class="row g-10">
      <div class="col-12 col-lg-6">
        <app-slider [slider]="dueShadesSlider"></app-slider>
      </div>
      <div class="col-12 col-lg-6">
        <h5>
          Dual Shades offers the privacy of a shade, the softened view of a
          sheer and the option of raising and lowering your shade with privacy
          control at every level.
        </h5>
      </div>
    </div>
  </div>
</div>

<!-- Opera Dual Shades -->
<div class="bg-light">
  <div class="container py-4">
    <h2 class="mb-4">Opera Dual Shades</h2>
    <div class="row g-10">
      <div class="col-12 col-lg-6">
        <app-slider [slider]="operaShadesSlider"></app-slider>
      </div>
      <div class="col-12 col-lg-6">
        <h5>
          Opera Dual shades include our proprietary opera system, offering the
          ultimate in light control combining two shades in one sleek operating
          system.
        </h5>
      </div>
    </div>
  </div>
</div>

<!-- Opera Shade Control System -->
<div class="bg-white">
  <div class="container py-4">
    <h2 class="mb-4">Opera Shade Control System</h2>
    <div class="row g-10">
      <div class="col-12 col-lg-6">
        <app-slider [slider]="opearShadeCtrlSlider"></app-slider>
      </div>
      <div class="col-12 col-lg-6">
        <h5>
          An industry first, our patented Opera system offers a truly unique and
          perfect room darkening shade. Its innovative design combines the
          beauty of a wide assortment of elegant fabrics across a multitude of
          product categories with the functionality of a room darkening fabric.
        </h5>
      </div>
    </div>
  </div>
</div>

<!-- Mira Vista Roller Shades -->
<div class="bg-light">
  <div class="container py-4">
    <h2 class="mb-4">Mira Vista Roller Shades</h2>
    <div class="row g-10">
      <div class="col-12 col-lg-6">
        <app-slider [slider]="miraSlider"></app-slider>
      </div>
      <div class="col-12 col-lg-6">
        <h5>
          MiraVista Roller Shades offer the most comprehensive assortment of
          fabrics available today. Divided into five key sub-categories
          including Designer, EnviroGreen, Grasscloth, Blackout and Screens,
          these fabrics can be tailored to any style of design and application.
          Also available with the OPERA option
        </h5>
      </div>
    </div>
  </div>
</div>

<!-- Sunset Shades -->
<div class="bg-white">
  <div class="container py-4">
    <h2 class="mb-4">Sunset Shades</h2>
    <div class="row g-10">
      <div class="col-12 col-lg-6">
        <app-slider [slider]="sunsetSlider"></app-slider>
      </div>
      <div class="col-12 col-lg-6">
        <h5>
          Sunset Shades combines the beauty of elegant soft sheer face fabrics
          with woven floating semi-translucent fabric louvers. Its innovative
          design allows for unlimited creativity to suit any style of decor.Also
          available with the OPERA option.
        </h5>
      </div>
    </div>
  </div>
</div>

<!-- Roman Shades -->
<div class="bg-light">
  <div class="container py-4">
    <h2 class="mb-4">Roman Shades</h2>
    <div class="row g-10">
      <div class="col-12 col-lg-6">
        <app-slider [slider]="romanSlider"></app-slider>
      </div>
      <div class="col-12 col-lg-6">
        <h5>
          The Roman Shades have a vast selection of fabrics that will enhance
          any décor. Our new “Assante Collection” of drapery style fabrics are
          every designers dream. Liners are optional from dim out to blackout.
        </h5>
      </div>
    </div>
  </div>
</div>

<!-- Mira Vista Pleated Shades -->
<div class="bg-white">
  <div class="container py-4">
    <h2 class="mb-4">Mira Vista Pleated Shades</h2>
    <div class="row g-10">
      <div class="col-12 col-lg-6">
        <app-slider [slider]="vistaSlider"></app-slider>
      </div>
      <div class="col-12 col-lg-6">
        <h5>
          The MiraVista Pleated Shades are available in a wide assortment of
          jacquards, solids, tone on tone prints and metalized backings, as well
          as room darkening fabrics tailored to fit any style of décor.
        </h5>
      </div>
    </div>
  </div>
</div>

<!-- Cellular Shades -->
<div class="bg-light">
  <div class="container py-4">
    <h2 class="mb-4">Cellular Shades</h2>
    <div class="row g-10">
      <div class="col-12 col-lg-6">
        <app-slider [slider]="cellularSlider"></app-slider>
      </div>
      <div class="col-12 col-lg-6">
        <h5>
          The Cellular Shades are available in a wide assortment of fabric
          choices ranging from plain through decorative patterns, textures and
          opacities. Available in ¾”, 3/8” single cell as well as double cell. •
          100% polyester fabric is both anti-static and dust repellent. Also
          available with the OPERA option.
        </h5>
      </div>
    </div>
  </div>
</div>

<!-- Vertical Shades -->
<div class="bg-light">
  <div class="container py-4">
    <h2 class="mb-4">Vertical Shades</h2>
    <div class="row g-10">
      <div class="col-12 col-lg-6">
        <app-slider [slider]="verticalSlider"></app-slider>
      </div>
      <div class="col-12 col-lg-6">
        <h5>
          The Vertical Shadings feature an innovative and unique design that
          combines the best features and functionality of horizontal, vertical,
          and sunscreen shades into a single luxurious shading product.
        </h5>
        <h5>
          Unlike vertical blinds, Vertical Shadings allow you to raise the
          blinds like a roller shade while giving you a completely open view to
          the exterior. An excellent feature especially for homes with patio
          doors, garden doors, and French doors.
        </h5>
      </div>
    </div>
  </div>
</div>

<!-- Motorization -->
<div class="bg-light">
  <div class="container py-4">
    <h2 class="mb-4">Motorization</h2>
    <div class="row g-10">
      <div class="col-12 col-lg-6">
        <app-slider [slider]="motorSlider"></app-slider>
      </div>
      <div class="col-12 col-lg-6">
        <h5>
          With the increased consumer demand for window covering automation, we
          are able to provide a wide assortment of options to motorize many
          different types of blinds and shades. Whether it be hard to reach or
          elevated window covering or to control glare and protect interior
          furnishings from the suns harmful UV rays, we offer a selection of
          automation choices. Whether it is hardwired or battery powered a full
          selection of motorization options are available to suit any consumers
          needs.
        </h5>
      </div>
    </div>
  </div>
</div>

<!-- Request a Quote -->
<div class="bg-primary">
  <div
    class="container d-flex quote-container py-2 align-items-center justify-content-between"
  >
    <h3 class="m-0">
      Call us at
      <a
        href="tel:+16473330303"
        class="text-decoration-none"
        style="color: white"
        >647.333.0303</a
      >
      to Book a Free In-Home Consultation.
    </h3>
    <button class="btn btn-custom">REQUEST A FREE QUOTE</button>
  </div>
</div>

<!-- Reviews -->
<div id="background-container" class="py-8">
  <div class="container bg-white p-6">
    <app-google-reviews></app-google-reviews>
  </div>
</div>

<!-- Contact Form & Map -->
<app-contact-map-container></app-contact-map-container>
