<app-blog-title [blogTitle]="blog?.title" [tags]="blog?.tags"></app-blog-title>

<div class="container">
  <div class="row py-6 g-8">
    <div class="col-12 col-lg-9">
      <img
        class="img-fluid mb-4"
        src="assets/images/blog/Blackout Frame System1.jpg"
        alt=""
      />
      <p>
        The Blackout Frame System - Roller Shades is a sleek and modern solution for your window treatment needs, offering superior light control and privacy. 
      </p>
      <p>These blackout roller shades are expertly designed to completely block out light, making them the perfect choice for bedrooms, home theaters, or any space where controlling light is crucial.</p>
      <p>With their minimalist and stylish design, <strong>the Blackout Frame System - Roller Shades</strong> seamlessly blends into any décor, enhancing the aesthetics of your space. </p>
      <img
        class="img-fluid mb-4"
        src="assets/images/blog/Blackout Frame System2.jpg"
        alt=""
      />
      <p>Easy to operate and maintain, they are a practical and efficient choice for those looking to enhance both the functionality and elegance of their windows.</p>
     <p>Whether you're seeking a peaceful night's sleep or a darkened room for movie watching, the <strong>Blackout Frame System - Roller Shades</strong> offers the ideal solution, combining style with substance in every way.</p>
    </div>
    <div class="col-12 col-lg-3"><app-recent-posts></app-recent-posts></div>
  </div>
</div>
