<app-page-title
  pageTitle="The Maxxmar Collection"
  [breadcrumbs]="breadcrumbs"
></app-page-title>

<div class="bg-white">
  <div class="container text-container py-6">
    <div class="row align-items-center g-5">
      <div class="col-12 col-lg-6">
        <img
          class="img-fluid"
          src="assets/images/cadillac-window-fashoins-hunter-douglas-about-us.jpg"
          alt=""
        />
      </div>
      <div class="col-12 col-lg-6">
        <p>
          Offering the largest and most diverse collection of innovative,
          stylish, and energy-efficient window fashions, Madison Avenue is
          continually innovating window fashion operating systems with ease of
          use and child safety in mind. Our exclusive Lifetime Limited Warranty
          is only possible because our branded window fashions are designed, and
          custom-assembled in Canada. When you’re looking for the peak of
          performance and quality, insist on Madison Avenue products; available
          nationwide, only at professionally trained and certified dealers.
        </p>
      </div>
    </div>
  </div>
</div>

<div style="background-color: #f0f1f5">
  <div class="container text-container py-6">
    <div class="row align-items-center g-5">
      <div class="col-12 col-lg-6">
        <p>
          Come Visit Madison Avenue Showroom. Designed around the most
          innovative window covering design, at the showroom you can sample our
          diverse range of products and control options. Try our motorized
          blinds. Sample our full line of drapery fabrics and hardware. Friendly
          and knowledgeable staff members are always close by to assist your
          search, with exceptional ideas and expert advice; assuring you the
          best results designing your window coverings.
        </p>
        <p>
          If you’re looking for shutters, you’ll be able to see our own line of
          Madison Avenue Shutters on full display, as our line of Summer wind
          Shutters. Safe to say, if you’re thinking about window coverings, a
          trip to the Madison Avenue Showroom is imperative!
        </p>
        <p>Visit us at 150 Oak Park Blvd Unit 3, Oakville, ON L6H 0E7</p>
      </div>
      <div class="col-12 col-lg-6">
        <img
          class="img-fluid"
          src="assets/images/hunter-douglas-collection-page-img-2.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</div>

<!-- Image Links -->
<div class="bg-white">
  <div class="container p-3 image-links-container">
    <h2 class="mb-4">View Madison Avenue Products</h2>
    <div class="row g-5">
      <div class="col-12 col-lg-6">
        <div class="text-center px-9 py-2" style="background-color: #f0f1f5">
          <h3>SHADES</h3>
          <div class="image-container">
            <a routerLink="/the-maxxmar-collection/shades">
              <img
                class="img-fluid zoomable-image"
                src="assets/images/hunter-douglas-collection-shades.png"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <div class="text-center px-9 py-2" style="background-color: #f0f1f5">
          <h3>BLINDS</h3>
          <div class="image-container">
            <a routerLink="/the-maxxmar-collection/blinds">
              <img
                class="img-fluid zoomable-image"
                src="assets/images/hunter-douglas-collection-blinds.png"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <div class="text-center px-9 py-2" style="background-color: #f0f1f5">
          <h3>SHUTTERS</h3>
          <div class="image-container">
            <a routerLink="/the-maxxmar-collection/shutters">
              <img
                class="img-fluid zoomable-image"
                src="assets/images/hunter-douglas-collection-shutters.png"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <div class="text-center px-9 py-2" style="background-color: #f0f1f5">
          <h3>WINDOW PANELS</h3>
          <div class="image-container">
            <a routerLink="/the-maxxmar-collection/window-panels">
              <img
                class="img-fluid zoomable-image"
                src="assets/images/hunter-douglas-collection-window-panels.png"
                alt=""
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Request a Quote -->
<div class="bg-primary">
  <div
    class="container d-flex quote-container py-2 align-items-center justify-content-between"
  >
    <h3 class="m-0">
      Call us at
      <a
        href="tel:+16473330303"
        class="text-decoration-none"
        style="color: white"
        >647.333.0303</a
      >
      to Book a Free In-Home Consultation.
    </h3>
    <button class="btn btn-custom">REQUEST A FREE QUOTE</button>
  </div>
</div>

<!-- Reviews -->
<div id="background-container" class="py-8">
  <div class="container bg-white p-6">
    <app-google-reviews></app-google-reviews>
  </div>
</div>

<!-- Contact Form & Map -->
<app-contact-map-container></app-contact-map-container>
