<div
  class="icon-container"
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
>
  <div
    class="circle-wrapper animate__animated mb-2"
    [class.animate__heartBeat]="isActive"
    role="button"
  >
    <i [class]="iconClass"></i>
  </div>

  <h2
    class="content-box-heading mb-2"
    style="font-size: 24px; line-height: 26px; color: #5c6770"
    data-inline-fontsize="true"
    data-inline-lineheight="true"
    data-fontsize="24"
    data-lineheight="26"
    *ngIf="title"
  >
    {{ title }}
  </h2>
  <p *ngIf="text">
    {{ text }}
  </p>
  <p *ngIf="text1">
    {{ text1 }}
  </p>
  <p *ngIf="text2">
    {{ text2 }}
  </p>
  <p *ngIf="text3">
    {{ text3 }}
  </p>
</div>
