.circle-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 70px; /* Adjust the size of the circle */
  height: 70px; /* Adjust the size of the circle */
  background-color: #5c6770; /* Background color of the circle */
  border-radius: 50%; /* Create the circular shape */
}

.circle-wrapper i {
  color: white; /* Icon color */
}

.circle-wrapper:hover {
  background-color: black;
}
