.circle-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 70px; /* Adjust the size of the circle */
  height: 70px; /* Adjust the size of the circle */
  background-color: #5c6770; /* Background color of the circle */
  border-radius: 50%; /* Create the circular shape */
}

.circle-wrapper i {
  color: white; /* Icon color */
}

.icon-container h2 {
  box-sizing: border-box;
  margin: 0 0 20px;
  color: #5c6770;
  font-weight: 400;
  font-size: 32px;
  line-height: 34px;
  text-align: center;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.icon-container p {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  box-sizing: border-box;
  color: #0a0a0a;
}
