<app-blog-title [blogTitle]="blog?.title" [tags]="blog?.tags"></app-blog-title>

<div class="container">
  <div class="row py-6">
    <div class="col-12 col-lg-9">
      <div>
        <img src="assets/images/blog/1979263237.jpg" alt="" />
      </div>
      <h2>投票选出你最爱的窗帘（参与投票有奖）</h2>
      <h3 class="text-center"><strong>​2020 爱你爱你</strong></h3>
      <h3 class="text-center"><strong>投票选出你最爱的窗帘 </strong></h3>
      <h3>票数最高的三位老客户，现金奖励如下：</h3>
      <ul class="mb-4">
        <li><strong>一等奖：</strong><strong>$150&nbsp;现金</strong></li>
        <li><strong>二等奖：</strong><strong>$100 现金</strong></li>
        <li><strong>三等奖：</strong><strong>$50&nbsp; &nbsp;现金</strong></li>
      </ul>
      <h3>如果您选中的最爱窗帘获奖，关注公众号的投票者奖励如下：</h3>
      <ul class="mb-4">
        <li><strong>一等奖的投票者：&nbsp;$150 coupon</strong></li>
        <li><strong>二等奖的投票者：&nbsp;$100 coupon</strong></li>
        <li><strong>三等奖的投票者：&nbsp;$50&nbsp;&nbsp; coupon</strong></li>
      </ul>
      <h3>投票链接：</h3>
      <p>
        <a
          target="_blank"
          href="https://mp.weixin.qq.com/s?__biz=Mzg4MzE2MjU3NQ==&mid=100000185&idx=1&sn=8cb95aea07c98fbc7e561e5459e4ea70&chksm=4f4aed19783d640f0c510b7cd0325806c5e96717b9089c86516a47aef3ba25a9310141cbf62d#rd"
          >点击此处文字进入窗帘投票通道
        </a>
      </p>
      <h3>投票截止日期：</h3>
      <p><strong>2020年 2月8日 23点55分</strong></p>
      <h3>兑奖请联系：</h3>
      <p><strong>手机/微信 647-333-0303 </strong></p>
      <div>
        <img src="assets/images/blog/250258155.jpg" alt="" width="750" />
      </div>
    </div>
    <div class="col-12 col-lg-3"><app-recent-posts></app-recent-posts></div>
  </div>
</div>
