<app-blog-title [blogTitle]="blog?.title" [tags]="blog?.tags"></app-blog-title>

<div class="container">
  <div class="row py-6 g-8">
    <div class="col-12 col-lg-9">
      <img
        class="img-fluid mb-4"
        src="assets/images/blog/D1FDB46E-005D-44C7-960C-1797F14EBD51-2034-0000035AA899984B_tmp.jpg"
        alt=""
      />
      <h2>天然木百叶窗: 来自大自然的气息</h2>
      <p>
        无论当今的时尚潮流是什么，在窗户装饰方面，木制百叶窗在市场中总是需求旺盛。
      </p>
      <p>
        <strong
          >加利福尼亚百叶窗天然，简单，耐用，并能根据设计涂染各种颜色的外观。
        </strong>
      </p>
      <p>
        自1985年以来，麦迪森窗帘一直在加拿大大多伦多地区提供百叶窗的私人订制。
      </p>
      <p>
        <strong
          >所有的百叶窗均采用计算机化设备精确制造，然后手工精加工，来实现我们对高端木制品的高品质要求。
        </strong>
      </p>
      <p>
        窗帘的安装均由经过工厂多年培训的专业安装人员上门服务，确保用户满意。
      </p>

      <img
        class="img-fluid mb-4"
        src="assets/images/blog/24295055-AA1E-4A6E-86DF-CD6363DBECBB-2034-0000035A7D405E29_tmp.jpg"
        alt=""
      />
      <p>
        No matter what the latest fashion trend may be, when it comes to window
        fashions, wood shutters are always be in demand.
      </p>
      <p>
        <strong
          >California shutters are simple, durable and have a timeless look
          available in painted or stained finishes.
        </strong>
      </p>
      <p>
        Madison Avenue Window Fashions has been supplying shutters across Canada
        for a long time.
      </p>
      <p>
        <strong
          >All shutters are made using computerised machinery for precision but
          are all hand finished, for the quality look and feel we expect in a
          high-end wood product.
        </strong>
      </p>
      <p>
        Our installations are performed only by factory trained installers, all
        fully experienced in working within our customer’s homes.
      </p>
    </div>
    <div class="col-12 col-lg-3"><app-recent-posts></app-recent-posts></div>
  </div>
</div>
