<div class="bg-dark d-none d-lg-block" *ngIf="!isThankYouPage">
  <div
    class="container-fluid d-flex justify-content-between align-items-center px-2"
  >
    <div
      class="text-white"
      style="
        font-family: 'Pontano Sans', Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 24px;
      "
    >
      Free Quote at :
      <a href="tel:+16473330303" class="text-white text-decoration-none">
        647-333-0303</a
      >
    </div>

    <div class="d-flex ms-auto">
      <app-social-media-icons
        [faLg]="true"
        class="mx-auto d-none d-xl-block"
      ></app-social-media-icons>

      <a
        [routerLink]="link?.url"
        class="px-1 text-white text-decoration-none"
        *ngFor="let link of links"
        >{{ link?.name }}</a
      >
    </div>
  </div>
</div>

<div class="bg-dark d-lg-none" *ngIf="!isThankYouPage">
  <div
    class="container d-flex flex-column justify-content-between align-items-center py-2"
  >
    <app-social-media-icons class="mb-2" [faLg]="true"></app-social-media-icons>
    <div class="accordion w-100 px-5" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button
            class="accordion-button py-1 collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseOne"
            aria-expanded="false"
            aria-controls="collapseOne"
          >
            Go to...
          </button>
        </h2>
        <div
          id="collapseOne"
          class="accordion-collapse collapse"
          aria-labelledby="headingOne"
          data-bs-parent="#accordionExample"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
        >
          <ul class="list-group p-0">
            <li
              class="list-group-item"
              *ngFor="let link of links"
              [routerLink]="link?.url"
              role="button"
            >
              <a class="text-dark text-decoration-none">{{ link?.name }}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
