.btn-custom {
  transition: all 0.2s;
  padding: 13px 29px;
  line-height: 17px;
  font-size: 14px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  width: 100%;
}

.btn-custom:hover {
  background-color: black;
  color: white;
}

@media (max-width: 991px) {
  .request-container {
    width: 100%;
  }
}
