<app-page-title pageTitle="Drapes" [breadcrumbs]="breadcrumbs"></app-page-title>

<div class="bg-white">
  <div class="container perfect-container py-3">
    <h2>There’s a Perfect Choice for Every Room</h2>
    <h5>
      Our bespoke drapes represent one of the most cost-effective window
      covering solutions currently on the market. The choices are limitless!
      Mix-and-Match based on your taste, we carry hundreds of different styles,
      fabrics colours, and designs. Modern or traditional, plain or printed, at
      Madison Avenue Window Fashions, we’ve got you covered.
    </h5>
    <h5>
      Our expertise will be evident throughout the process. Our talented
      designers will show you all the latest fabrics and styles to bring your
      vision to life. Once you’ve chosen, our highly talented seamstresses put
      their years of drapery fabrication experience into every stitch. Finally,
      our factory trained installers will come to your home and put the
      finishing touches on your custom drapery treatment.
    </h5>
  </div>
</div>

<div class="bg-white">
  <div class="container py-3" id="before-buying-container">
    <h5 class="mb-5"><strong>Before Buying Drapes</strong></h5>
    <div class="row text-center g-5">
      <div class="col-12 col-lg-3">
        <app-icon
          text="Consider Functionality: Looking good is a given, but what are your drapes purpose? Privacy? Blocking light? Insulating your home and reducing heat loss through the windows?"
        ></app-icon>
      </div>
      <div class="col-12 col-lg-3">
        <app-icon
          text="Colour coordination and combination with your furniture and décor style i.e. modern or classic, design preference etc."
        ></app-icon>
      </div>
      <div class="col-12 col-lg-3">
        <app-icon
          text="Consider the type of fabric or material of your preference i.e. sheer, solid, opaque etc."
        ></app-icon>
      </div>
      <div class="col-12 col-lg-3">
        <app-icon
          text="Consider the hardware preference for your drapes. How will they be installed and on what type of framework?"
        ></app-icon>
      </div>
    </div>
  </div>
</div>

<app-slider [slider]="drapesSlider"></app-slider>

<!-- Request a Free Quote -->
<div class="bg-primary text-center py-2">
  <button class="btn btn-custom" routerLink="/get-a-quote">
    REQUEST A FREE QUOTE
  </button>
</div>

<!-- Gallery -->
<div class="container-fluid p-0">
  <div class="elfsight-app-86ad779c-f504-475c-a108-c41b0738d73e"></div>
</div>

<app-contact-map-container></app-contact-map-container>
