<app-page-title
  pageTitle="Get a Free Quote"
  [breadcrumbs]="breadcrumbs"
></app-page-title>
<!-- Text section -->
<div class="bg-white">
  <div class="container text-container">
    <h5>
      Madison Avenue Window Fashions will give your home the beautiful finishing
      touch you’ve been waiting for. Get your free quote today! You can reach us
      by phone, email, or by filing out our form below. We’ll give you a free
      customized quote or in-home consultation. Get started today!
    </h5>
  </div>
</div>

<!-- Promotion section -->
<div class="bg-primary">
  <div class="container promotion-container">
    <h5 class="py-6">
      Get a FREE Quote & $100 OFF your order through this online form*
    </h5>
  </div>
</div>

<!-- Contact Form & Map -->
<div class="container py-3">
  <div class="row">
    <div class="col-12 col-lg-6 contact-form">
      <h4>
        To consult with a Madison Avenue Window Fashions designer, please use
        the form below:
      </h4>
      <app-contact-form></app-contact-form>
      <div class="mt-2">
        <em>Please ask about our $100 off deal.</em>
      </div>
    </div>
    <div class="col-12 col-lg-6 google-map">
      <h4>Madison Avenue Window Fashion</h4>
      <p>
        <strong>Address:</strong>
        150 Oak Park Blvd Unit 3, Oakville, ON L6H 0E7
      </p>
      <p><strong>Phone:</strong> <a href="tel:+16473330303">647-333-0303</a></p>
      <p>
        <strong>Email: </strong
        ><a
          href="mailto:madison@madisonavenueshutters.com"
          target="_blank"
          rel="noopener noreferrer"
          >madison@madisonavenueshutters.com</a
        >
      </p>
      <app-google-map></app-google-map>
    </div>
  </div>
</div>
