<app-page-title
  pageTitle="Get a Free Quote"
  [breadcrumbs]="breadcrumbs"
></app-page-title>
<!-- Text section -->
<div class="bg-white">
  <div class="container text-container">
    <h5>
      Madison Avenue Window Fashions will give your home the beautiful finishing
      touch you’ve been waiting for. Get your free quote today! You can reach us
      by phone, email, or by filing out our form below. We’ll give you a free
      customized quote or in-home consultation. Get started today!
    </h5>
  </div>
</div>

<!-- Promotion section -->
<div class="bg-primary">
  <div class="container promotion-container">
    <h5 class="py-6">
      Get a FREE Quote & $100 OFF your order through this online form*
    </h5>
  </div>
</div>

<!-- Contact Form & Map -->
<app-contact-map-container
  [showTitle]="false"
  [showPromo]="true"
></app-contact-map-container>

<!-- Google Reviews -->
<div id="background-container" class="py-8">
  <div class="container bg-white p-6">
    <app-google-reviews></app-google-reviews>
  </div>
</div>
