<div>
  <a
    href="https://www.facebook.com/profile.php?id=61551517864654"
    title="Facebook"
    target="_blank"
    data-title
    data-toggle="tooltip"
    title
    data-original-title="Facebook"
    ><i
      class="fa-brands fa-facebook-f px-1"
      [class.fa-lg]="faLg"
      [class.fa-2x]="fa2x"
      [class]="isPrimary ? 'text-primary' : 'text-white'"
    ></i
  ></a>
  <a
    href="https://www.instagram.com/madisonavenueshutters"
    title="Instagram"
    target="_blank"
    data-title
    data-toggle="tooltip"
    title
    data-original-title="Instagram"
    ><i
      class="fa-brands fa-instagram px-1"
      [class.fa-lg]="faLg"
      [class.fa-2x]="fa2x"
      [class]="isPrimary ? 'text-primary' : 'text-white'"
    ></i
  ></a>
  <a
    href="https://www.linkedin.com/in/madison-han-b993bb199"
    title="LinkedIn"
    target="_blank"
    data-title
    data-toggle="tooltip"
    title
    data-original-title="LinkedIn"
    ><i
      class="fa-brands fa-linkedin px-1"
      [class.fa-lg]="faLg"
      [class.fa-2x]="fa2x"
      [class]="isPrimary ? 'text-primary' : 'text-white'"
    ></i
  ></a>
  <a
    href="https://www.pinterest.ca/madisonavenueshutters"
    title="Pinterest"
    target="_blank"
    data-title
    data-toggle="tooltip"
    title
    data-original-title="Pinterest"
    ><i
      class="fa-brands fa-pinterest px-1"
      [class.fa-lg]="faLg"
      [class.fa-2x]="fa2x"
      [class]="isPrimary ? 'text-primary' : 'text-white'"
    ></i
  ></a>
  <a
    href="https://www.youtube.com/channel/UCaJydRfcGDlUMTa5rjFTMvQ"
    title="Youtube"
    target="_blank"
    data-title
    data-toggle="tooltip"
    title
    data-original-title="Youtube"
    ><i
      class="fa-brands fa-youtube px-1"
      [class.fa-lg]="faLg"
      [class.fa-2x]="fa2x"
      [class]="isPrimary ? 'text-primary' : 'text-white'"
    ></i
  ></a>
  <a
    href="https://twitter.com/AvenueShutters"
    title="Twitter"
    target="_blank"
    data-title
    data-toggle="tooltip"
    title
    data-original-title="Twitter"
    ><i
      class="fa-brands fa-twitter px-1"
      [class.fa-lg]="faLg"
      [class.fa-2x]="fa2x"
      [class]="isPrimary ? 'text-primary' : 'text-white'"
    ></i
  ></a>
</div>
