<!-- Contact Form & Map -->
<div class="container py-4">
  <div class="row">
    <h2 class="text-center title" *ngIf="showTitle">Contact Us</h2>
    <div class="col-12 col-lg-6 contact-form">
      <h4>
        To consult with a Madison Avenue Window Fashions designer, please use
        the form below:
      </h4>
      <app-contact-form></app-contact-form>
      <div class="mt-2" *ngIf="showPromo">
        <em>Please ask about our $100 off deal.</em>
      </div>
    </div>
    <div class="col-12 col-lg-6 google-map">
      <h4>Madison Avenue Window Fashion</h4>
      <p>
        <strong>Address:</strong>
        150 Oak Park Blvd Unit 3, Oakville, ON L6H 0E7
      </p>
      <p><strong>Phone: </strong><a href="tel:+16473330303">647-333-0303</a></p>
      <p>
        <strong>Email: </strong
        ><a
          href="mailto:madison@madisonavenueshutters.com"
          target="_blank"
          rel="noopener noreferrer"
          >madison@madisonavenueshutters.com</a
        >
      </p>
      <app-google-map></app-google-map>
    </div>
  </div>
</div>
