<app-blog-title [blogTitle]="blog?.title" [tags]="blog?.tags"></app-blog-title>

<div class="container">
  <div class="row py-6">
    <div class="col-12 col-lg-9">
      <img
        class="img-fluid mb-4"
        src="assets/images/blog/IMG_0122.jpg"
        alt=""
      />
      <h2>新的一年，为了你的家园，我们一起砥砺前行</h2>
      <p><strong>​尊敬的麦迪森窗帘客户： </strong></p>
      <img
        class="img-fluid mb-4"
        src="assets/images/blog/BLOG-3-768x513.jpg"
        alt=""
      />
      <p style="text-align: center">
        时光荏苒，岁月如梭<br />
        <strong>我们怀揣感恩和希望</strong><br />
        <strong>踏入新的征程</strong><br />
        回首2019<br />
        无论风雨或是晴好<br />
        无论你身在中国或是加国<br />
        通过手机，通过微信<br />
        通过公众号，通过网站<br />
        我们都与你相连<br />
        我们都相伴度过
      </p>
      <img
        class="img-fluid mb-4"
        src="assets/images/blog/shutter-1.jpg"
        alt=""
      />
      <p style="text-align: center">
        你的需求，我们都用情服务<br />
        你的家园，我们都用心呵护<br />
        正是你的信任和肯定<br />
        支持着我们从未停止前进的脚步<br />
        我们与你<br />
        共同在多伦多这片热土上拼搏<br />
        <strong>我们致力于高端窗帘的私人订制</strong><br />
        <strong>以中端价格作为市场切入点</strong><br />
        聚集了<br />
        如你一般的高端优质客户群
      </p>
      <img
        class="img-fluid mb-4"
        src="assets/images/blog/IMG_0107.jpg"
        alt=""
      />
      <p style="text-align: center">
        每一位客户的微笑<br />
        每一次满意的背后<br />
        都有许多汗水与故事<br />
        而这，正是你我<br />
        谱写麦迪森窗帘的重要颜色
      </p>
      <img
        class="img-fluid mb-4"
        src="assets/images/blog/custom-blinds-1-768x384.png"
        alt=""
      />
      <p style="text-align: center">
        我们始终牢记你的托付<br />
        <strong>在这座梦想的城市</strong><br />
        <strong>续写梦想</strong><br />
        谱写希望
      </p>
      <p style="text-align: center">
        今天既是过去一年的终点<br />
        也是新的一年的起点<br />
        是结束，亦是最好的开始<br />
        流走的是岁月<br />
        留下的是回忆<br />
        <strong>我们无愧于2019年不留遗憾</strong><br />
        <strong>让我们期待2020年砥砺前行</strong>
      </p>
      <img
        class="img-fluid mb-4"
        src="assets/images/blog/palmbeach_lantana_bedroom_3-768x960.jpg"
        alt=""
      />
      <p style="text-align: center">
        新的一年<br />
        我们将拥抱新的目标，新的收获<br />
        <strong>凡是过往，皆为序章</strong><br />
        <strong>来日可期，来年可待</strong><br />
        2020 新年快乐！
      </p>
    </div>
    <div class="col-12 col-lg-3"><app-recent-posts></app-recent-posts></div>
  </div>
</div>
