<app-blog-title [blogTitle]="blog?.title" [tags]="blog?.tags"></app-blog-title>

<div class="container">
  <div class="row py-6 g-8">
    <div class="col-12 col-lg-9">
      <img
        class="img-fluid mb-4"
        src="assets/images/blog/C85EFCB5-C89D-4541-94C1-ED429446FC28-2034-0000035A8762BFA4_tmp.jpg"
        alt=""
      />
      <h2>为什么选择麦迪森窗帘的斑马帘？</h2>
      <p>斑马帘是一种由纺织物制作的木百叶窗的替代品，目前在市场上非常流行。</p>
      <p>
        斑马帘由滚轴式设计，可以使用手动拉链或电动操作窗帘。斑马帘的拉链，底部栏杆和盒式帷幔可以自由搭配设计。
      </p>
      <p>
        <strong
          >斑马帘的条纹有2英寸和3
          英寸供您选择，操作时对齐或错开斑纹，可以在光控或黑暗之间调整，让您在视野和隐私之间进行自由转换。
        </strong>
      </p>
      <p>
        斑马帘加上遮光层能够阻隔光亮，使房间变得黑暗，它们通常是卧室或起居室的绝佳选择。
      </p>
      <p>
        Dual Shades is a very modern alternative to horizontal blind. Dual
        Shades is operated by a side chain that allows you to control the shade.
      </p>
      <p>
        The side chains will be matching.as well as the bottom railing. An added
        upgrade that comes with all of our Dual Shade is a matching cassette
        valance.
      </p>
      <p>
        <strong
          >Dual shades allow you to transition between sheer and privacy. The
          blinds can be adjusted so that the zebra stripes lineup-offering
          privacy, light control, and insulation.
        </strong>
      </p>
      <p>
        Adjust the blinds slightly, aligning the sheer fabric section to allow
        incoming daylight. Dual shades come with blackout options, they can be a
        great addition to a bedroom or living room.
      </p>
    </div>
    <div class="col-12 col-lg-3"><app-recent-posts></app-recent-posts></div>
  </div>
</div>
