<div class="bg-primary d-none d-lg-block" *ngIf="!isThankYouPage">
  <div class="container d-flex align-items-center">
    <a
      class="btn btn-dark btn-custom rounded-0 me-6"
      routerLink="/get-a-quote"
      role="button"
      >{{ "Get a Quote" | uppercase }}</a
    >
    <a routerLink="/drapes" class="text-decoration-none text-white link me-6"
      >Drapes</a
    >
    <a
      routerLink="/window-shutters-oakville-burlington"
      class="text-decoration-none text-white link me-6"
      >Wood Shutters</a
    >
    <div
      (mouseenter)="showCollection = true"
      (mouseleave)="showCollection = false"
    >
      <a
        routerLink="/the-maxxmar-collection"
        class="text-decoration-none text-white link me-6"
        >The Maxxmar Collection</a
      >
      <ul class="sub-menu list-group" *ngIf="showCollection">
        <li
          class="list-group-item"
          role="button"
          routerLink="/the-maxxmar-collection/shades"
        >
          <a aria-haspopup="true">Shades</a>
        </li>
        <li
          class="list-group-item"
          role="button"
          routerLink="/the-maxxmar-collection/blinds"
        >
          <a aria-haspopup="true">Blinds</a>
        </li>
        <li
          class="list-group-item"
          role="button"
          routerLink="/the-maxxmar-collection/shutters"
        >
          <a aria-haspopup="true">Shutters</a>
        </li>
        <li
          class="list-group-item"
          role="button"
          routerLink="/the-maxxmar-collection/window-panels"
        >
          <a aria-haspopup="true">Window Panels</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="border border-top border-bottom d-lg-none" *ngIf="!isThankYouPage">
  <div
    class="container d-flex flex-column justify-content-between align-items-center py-2"
  >
    <div class="accordion w-100" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button
            class="accordion-button py-1 collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            Go to...
          </button>
        </h2>
        <div
          id="collapseTwo"
          class="accordion-collapse collapse"
          aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
        >
          <ul class="list-group p-0">
            <li class="list-group-item" role="button" routerLink="/get-a-quote">
              <a class="text-dark text-decoration-none" aria-haspopup="true"
                >Get a Quote</a
              >
            </li>
            <li class="list-group-item" role="button" routerLink="/drapes">
              <a class="text-dark text-decoration-none" aria-haspopup="true"
                >Drapes</a
              >
            </li>
            <li
              class="list-group-item"
              role="button"
              routerLink="/window-shutters-oakville-burlington"
            >
              <a class="text-dark text-decoration-none" aria-haspopup="true"
                >Wood Shutters</a
              >
            </li>
            <div class="accordion w-100" id="accordionExample">
              <div class="accordion-item">
                <h2 class="accordion-header border-0" id="headingTwo">
                  <button
                    class="accordion-button py-1 collapsed px-2"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseThree"
                    aria-expanded="false"
                    aria-controls="collapseThree"
                  >
                    <span class="text-dark text-decoration-none"
                      >The Maxxmar Collection</span
                    >
                  </button>
                </h2>
                <div
                  id="collapseThree"
                  class="accordion-collapse collapse"
                  aria-labelledby="headingThree"
                  data-bs-parent="#accordionExample"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                >
                  <ul class="list-group p-0">
                    <li
                      class="list-group-item px-3 border-start-0 border-end-0"
                      routerLink="/the-maxxmar-collection/shades"
                      role="button"
                    >
                      <a
                        class="text-dark text-decoration-none"
                        aria-haspopup="true"
                      >
                        - Shades</a
                      >
                    </li>
                    <li
                      class="list-group-item px-3 border-start-0 border-end-0"
                      routerLink="/the-maxxmar-collection/blinds"
                      role="button"
                    >
                      <a
                        class="text-dark text-decoration-none"
                        aria-haspopup="true"
                      >
                        - Blinds</a
                      >
                    </li>
                    <li
                      class="list-group-item px-3 border-start-0 border-end-0"
                      routerLink="/the-maxxmar-collection/shutters"
                      role="button"
                    >
                      <a
                        class="text-dark text-decoration-none"
                        aria-haspopup="true"
                      >
                        - Shutters</a
                      >
                    </li>
                    <li
                      class="list-group-item px-3 border-start-0 border-end-0 border-bottom-0"
                      role="button"
                      routerLink="/the-maxxmar-collection/window-panels"
                    >
                      <a
                        class="text-dark text-decoration-none"
                        aria-haspopup="true"
                      >
                        - Window Panels
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
