.container {
  min-height: 45px;
}

.btn-custom {
  transition: all 0.2s;
  padding: 13px 29px;
  line-height: 17px;
  font-size: 14px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.btn-custom:hover {
  background-color: black;
  color: white;
}

.sub-menu {
  position: absolute;
  display: block;
  margin: 0;
  text-align: left;
  transition: 0.3s;
  opacity: 1;
  z-index: 1000;
  min-width: 230px;
}

.link {
  font-size: 20px;
  line-height: 40px;
}

.list-group-item {
  line-height: 19px;
  color: #333333;
  font-size: 20px;
  background-color: #f2efef;
  border-radius: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #dcdadb;
}

.list-group-item > a {
  line-height: 19px;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out, height 0s, line-height 0s;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #333333;
  font-family: "Muli", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
}

.list-group-item:hover {
  background-color: #f8f8f8;
}
