#background-container {
  /* Set the background image URL */
  background-image: url("/assets/images/cadillac-window-fashions-home-backgroundtestimonials.jpg");

  /* Set background size and positioning */
  background-size: cover;
  background-position: center;

  /* Set background repeat to prevent repetition */
  background-repeat: no-repeat;
}

.btn-custom {
  text-decoration: none;
  outline: 0;
  zoom: 1;
  border: 1px solid ef8101;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  box-sizing: content-box;
  transition: all 0.2s;
  padding: 17px 40px;
  line-height: 21px;
  font-size: 18px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #ffffff;
  background-color: #ef8101;
  border-radius: 25px !important;
}

.btn-custom:hover {
  background-color: #5c6770;
}
