.container h1 {
  font-weight: 400;
  font-size: 38px;
  line-height: 48px;
  color: #5c6770;
  text-align: center;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.container h2 {
  box-sizing: border-box;
  margin: 0 0 20px;
  color: #5c6770;
  font-weight: 400;
  font-size: 32px;
  line-height: 34px;
  text-align: center;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
}

.container p {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  box-sizing: border-box;
  color: #0a0a0a;
}

.icon-title:hover {
  .content-box-heading {
    color: black !important;
  }
}

.btn-custom {
  text-decoration: none;
  outline: 0;
  zoom: 1;
  border: 1px solid white;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  box-sizing: content-box;
  transition: all 0.2s;
  padding: 17px 40px;
  line-height: 21px;
  font-size: 18px;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #ffffff;
  border-radius: 25px !important;
}

.btn-custom:hover {
  background-color: black;
}

.fill {
  height: 400px;
  background-position: 45% 75%; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  background: url("/assets/images/cadillac-window-fashions-home-background-our-produ.jpg");
}

.video-container p {
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #747474;
  box-sizing: border-box;
  margin: 0;
  margin-top: 0;
  margin-bottom: 20px;
}

.video-container .btn-custom {
  text-decoration: none;
  display: inline-block;
  position: relative;
  outline: 0;
  zoom: 1;
  border: 1px solid rgba(0, 0, 0, 0);
  text-align: center;
  text-transform: uppercase;
  box-sizing: content-box;
  transition: all 0.2s;
  padding: 13px 29px;
  line-height: 17px;
  font-size: 14px;
  border-style: solid;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  border-width: 1px;
  color: #ffffff;
  border-color: #ffffff;
  background: #5c6770;
  border-radius: 25px !important;
}

#background-container {
  /* Set the background image URL */
  background-image: url("/assets/images/cadillac-window-fashions-home-backgroundtestimonials.jpg");

  /* Set background size and positioning */
  background-size: cover;
  background-position: center;

  /* Set background repeat to prevent repetition */
  background-repeat: no-repeat;
}
