<app-page-title
  pageTitle="Window Panels"
  [breadcrumbs]="breadcrumbs"
></app-page-title>

<div class="mt-2"></div>

<!-- Slider -->
<app-slider [slider]="bannerSlider"></app-slider>

<div class="bg-primary">
  <div class="container py-5">
    <h5>
      Mira Vista Sliding Panels offer the perfect solution, we have large and
      small window panels. The window panels can also be used as a stylish room
      divider system to dress any window in style. Book an appointment and view
      our Showroom.
    </h5>
  </div>
</div>

<!-- Mira Vista Sliding Panels -->
<app-maxx-slider-text
  title="Mira Vista Sliding Panels"
  text="MiraVista Panel Tracks provide a refined accent to your décor. Panel Tracks’ versatility makes them ideal for patio doors, garden doors, large windows and room dividers. The MiraVista Panel Tracks are made with a premium quality aluminum tracking system."
  text1="Protect your furniture, flooring and artwork from fading with at least 75% protection from harmful UV rays."
  [slider]="vista"
></app-maxx-slider-text>

<!-- Request a Quote -->
<app-maxx-request-quote></app-maxx-request-quote>

<!-- Reviews -->
<app-maxx-reviews></app-maxx-reviews>

<!-- Contact Form & Map -->
<app-contact-map-container></app-contact-map-container>
