<app-page-title
  pageTitle="About Us"
  [breadcrumbs]="breadcrumbs"
></app-page-title>

<div class="bg-white">
  <div class="container py-6">
    <h2
      class="mb-2"
      style="text-align: center; margin-top: 0.1em; margin-bottom: 0.1em"
      data-fontsize="32"
      data-lineheight="34"
    >
      Madison Avenue Window Fashions: Where Design Meets Elegance
    </h2>
    <!-- <div class="w-75 mx-auto text-start"> -->
    <p>
      Welcome to Madison Avenue Window Fashions, your trusted source for
      exquisite window coverings and design servicing the Greater Toronto Area.
      Founded and led by Madison Han, an industry veteran with a lifelong
      passion for interior and graphic design.
    </p>
    <p>
      Our showroom is located in the Heart of Oakville, and is not just another
      window treatment store. It’s a testament to exquisite taste, refined
      craftsmanship and an unparalleled commitment to quality.
    </p>
    <p>
      From residences that want to capture a homely essence to commercial spaces
      that need a touch of professional finesse, our portfolio boasts a range of
      elite clientele, and we proudly supplied Bombardier at their new Toronto
      facility, further demonstrating our ability to handle diverse and
      large-scale projects.
    </p>
    <p>
      We are passionate about supporting our local industry. That’s why we
      prioritize Canadian-made window covering products, ensuring not just
      quality but also contributing to our homegrown businesses.
    </p>
    <p>
      Your satisfaction is our mission. At Madison Avenue Window Fashions, we
      pride ourselves on building lasting relationships with our clients. From
      the moment you walk into our showroom to the finishing touch on your
      window treatments, our team ensures every detail meets your expectations.
    </p>
    <!-- </div> -->
  </div>
</div>

<!-- Background Image -->
<div class="cotainer-fluid fill"></div>
<app-shadow></app-shadow>

<!-- Request a Free Quote -->
<div class="bg-primary text-center py-2">
  <button class="btn btn-custom">REQUEST A FREE QUOTE</button>
</div>

<!-- Testimonials -->
<div id="background-container" class="py-8">
  <div class="container bg-white p-6">
    <app-google-reviews></app-google-reviews>
  </div>
</div>

<app-contact-map-container></app-contact-map-container>
