<app-page-title
  pageTitle="About Us"
  [breadcrumbs]="breadcrumbs"
></app-page-title>

<div class="bg-white">
  <div class="container py-6">
    <p>
      Madison Avenue’s past experience in graphic, interior and furniture design
      provides us with the skills to transform your windows into the centre
      piece of your home. Madison Avenue will ensure your expectations are
      exceeded from the initial consultation through the final installation. Our
      30 years of experience and extensive background with colour and style
      coordination will facilitate your decision making and make your experience
      as smooth and easy as possible.
    </p>
    <p>
      Our work doesn’t stop there. Once you have chosen your widow coverings of
      choice, we ensure the installation process is of the highest quality. We
      use only factory trained installation crews that work hard to ensure all
      of your window covering projects are completed with the utmost care and
      professionalism. Thanks to our low overhead, we’re able to offer our
      customers our custom window coverings at surprisingly affordable rates! If
      you’re considering new custom window coverings with the latest trends and
      fashions, call Madison Avenue Window fashions today for a free
      complimentary in-home consultation. Your satisfaction is guaranteed!
    </p>
  </div>
</div>

<!-- Background Image -->
<div class="cotainer-fluid fill"></div>
<app-shadow></app-shadow>

<!-- Request a Free Quote -->
<div class="bg-primary text-center py-2">
  <button class="btn btn-custom">REQUEST A FREE QUOTE</button>
</div>

<!-- Testimonials -->
<div id="background-container" class="py-8">
  <div class="container bg-white p-6">
    <app-google-reviews></app-google-reviews>
  </div>
</div>

<app-contact-map-container></app-contact-map-container>
