.container h5 {
  --wp--preset--font-size--normal: 16px;
  --wp--preset--font-size--huge: 42px;
  -webkit-text-size-adjust: 100%;
  font: 13px/20px "PTSansRegular", Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-family: "Pontano Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
}
