<app-page-title
  pageTitle="Shutters"
  [breadcrumbs]="breadcrumbs"
></app-page-title>

<!-- Summerview Shutters -->
<app-maxx-slider-text
  title="Summerview Shutters"
  text="The clean lines of Summerview PolySilk Shutters give them both an elegant and yet modern look. Available in popular colour choices from cool whites to rich mocha, these shutters come in three louver sizes: 2 ½”, 3 ½” and 4 ½”. Finely crafted with premium materials using cutting edge technology, these shutters are extremely resistant being made from a premier grade of PolySilk vinyl ,making them ideal for high humidity or wet environments."
  [slider]="summerview"
></app-maxx-slider-text>

<!-- Somerset Shutters -->
<app-maxx-slider-text
  title="Somerset Shutters"
  text="Somerset Shutters reflect today’s lifestyles and are designed to enhance any window, door or room setting and to complement any décor scheme in your home.They feature the Maxx Gear System which is the most revolutionary internal gear system on the market for functionality and performance."
  [slider]="somerset"
  [bgWhite]="false"
></app-maxx-slider-text>

<!-- Cashmere Hardwood Shutters -->
<app-maxx-slider-text
  title="Cashmere Hardwood Shutters"
  text="Like finely crafted wood furniture, the natural beauty of Cashmere Hardwood Shutters will add richness and warmth to your home. These shutters have a superb lustrous finish, superior structural integrity and excellent durability. Available in popular shades of white and rich lacquer stains."
  [slider]="cashmere"
></app-maxx-slider-text>

<!-- San Marco Shutters -->
<app-maxx-slider-text
  title="San Marco Shutters"
  text="The San Marco Collection offers the natural beauty of real wood shutters with the durability of vinyl shutters. Their remarkable leather and wood look finishes combined with their elegant clean lines will complement and enhance any window, door or room setting in your home."
  [slider]="marco"
  [bgWhite]="false"
></app-maxx-slider-text>

<!-- Specialty Shapes in Shutters -->
<app-maxx-slider-text
  title="Specialty Shapes in Shutters"
  text="The Supreme Performance™ Combi Specialty Shapes and Arches are truly revolutionary as they have operable louvers and openable panels – exclusive to Maxxmar. They will bring elegance and beauty to any room setting and their high quality features and state-of-the-art finishes ensure easy cleaning and great durability. In order to give the best coordination for colour, tonality and profile shape, we at Maxxmar use both vinyl and wood profiles to make our arches and specialty shapes which are referred to as “Combi”."
  [slider]="shapes"
></app-maxx-slider-text>

<!-- Reviews -->
<app-maxx-reviews></app-maxx-reviews>

<div class="bg-primary">
  <div class="container py-5">
    <h5>
      Shop From The Comfort Of Your Home – Request A Free In-Home Consultation
      Today.
    </h5>
  </div>
</div>

<!-- Contact Form & Map -->
<app-contact-map-container></app-contact-map-container>
