<app-page-title pageTitle="Blinds" [breadcrumbs]="breadcrumbs"></app-page-title>

<div class="mt-2"></div>

<!-- Slider -->
<app-slider [slider]="bannerSlider"></app-slider>

<div class="bg-primary">
  <div class="container py-5">
    <h5>
      At Madison Avenue Window Fashion, we offer an extensive selection of
      vertical and horizontal blinds in a wide variety of colours. View Madison
      Avenue Showroom Blinds.
    </h5>
  </div>
</div>

<!-- Zurich Faux wood Blinds -->
<app-maxx-slider-text
  title="Zurich Faux wood Blinds"
  text="Zurich Faux Wood Blinds is a unique blend of resin and wood fused
together to imitate the look and warmth of traditional wood blinds.
Ideal for high humidity areas such as bathrooms and kitchens.They are
available in 2” slats, plain, textured or print finishes and in a wide
assortment of colours and tones."
  [slider]="zurich"
></app-maxx-slider-text>

<!-- Zurich Faux wood Blinds -->
<app-maxx-slider-text
  title="St Moritz Wood Blinds"
  text="St. Moritz Wood Blinds are crafted from only the finest quality basswood in a full range of rich designer colours and warm wood tones. Available in 2” slat in both paints and stains.To further enhance the look, choose from a complementary selection of 20 Decorative Tapes, which are available in solid, embossed or tone-on-tone textures."
  [slider]="moritz"
  [bgWhite]="false"
></app-maxx-slider-text>
