<div style="background-color: #444444">
  <div
    class="container d-flex flex-column flex-lg-row justify-content-between align-items-center py-2 py-lg-0"
  >
    <div class="text mb-1 mb-lg-0">Madison Avenue Window Fashion麦迪森窗帘</div>
    <div>
      <a
        href="https://www.facebook.com/Madison-Avenue-Window-Fashion-678049549258562/?tn-str=k*F"
        title="Facebook"
        target="_blank"
        data-title
        data-toggle="tooltip"
        title
        data-original-title="Facebook"
        ><i class="text-white fa-brands fa-facebook-f"></i
      ></a>
    </div>
  </div>
</div>
