<div style="background-color: #444444">
  <div
    class="container d-flex flex-column flex-lg-row justify-content-between align-items-center py-2 py-lg-0"
  >
    <div class="text mb-1 mb-lg-0">Madison Avenue Window Fashion麦迪森窗帘</div>
    <div>
      <a
        href="https://www.facebook.com/Madison-Avenue-Window-Fashion-678049549258562/?tn-str=k*F"
        title="Facebook"
        target="_blank"
        data-title
        data-toggle="tooltip"
        title
        data-original-title="Facebook"
        ><i class="text-white fa-brands fa-facebook-f px-1"></i
      ></a>
      <a
        href="#"
        title="Instagram"
        target="_blank"
        data-title
        data-toggle="tooltip"
        title
        data-original-title="Instagram"
        ><i class="text-white fa-brands fa-instagram px-1"></i
      ></a>
      <a
        href="#"
        title="LinkedIn"
        target="_blank"
        data-title
        data-toggle="tooltip"
        title
        data-original-title="LinkedIn"
        ><i class="text-white fa-brands fa-linkedin px-1"></i
      ></a>
      <a
        href="#"
        title="Pinterest"
        target="_blank"
        data-title
        data-toggle="tooltip"
        title
        data-original-title="Pinterest"
        ><i class="text-white fa-brands fa-pinterest px-1"></i
      ></a>
      <a
        href="#"
        title="Youtube"
        target="_blank"
        data-title
        data-toggle="tooltip"
        title
        data-original-title="Youtube"
        ><i class="text-white fa-brands fa-youtube px-1"></i
      ></a>
    </div>
  </div>
</div>
