<app-page-title
  pageTitle="Testimonials"
  [breadcrumbs]="breadcrumbs"
></app-page-title>
<!-- Text section -->
<div class="bg-white">
  <div class="container text-container py-6">
    <h5>
      Madison Avenue Window Fashions offers an expansive collection of vertical
      and horizontal blinds and shades in a wide variety of colours. Our
      consultants are experienced, specially trained, experts ready to help you
      choose and install the blinds or shades best suited to your individual
      needs, styles and tastes. Our goal is for our customers to leave confident
      about the decisions they make when choosing our products and services. We
      put customer satisfaction above everything else!
    </h5>
  </div>
</div>

<!-- Google Reviews -->
<div id="background-container" class="py-8">
  <div class="container bg-white p-6">
    <app-google-reviews></app-google-reviews>
  </div>
</div>

<!-- Promotion section -->
<div class="bg-primary">
  <div class="container promotion-container py-2 text-center">
    <a class="btn btn-custom" target="_self" routerLink="/get-a-quote"
      >Request a Free Quote</a
    >
  </div>
</div>

<!-- Contact Form & Map -->
<app-contact-map-container></app-contact-map-container>
