/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "Muli";
  src: url("../src/assets/fonts/Muli-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

$primary: #ef8101;
$secondary: #747474;
$black: #0a0a0a;
$dark: #5c6770;
$light: #f6f6f6;

$theme-colors: (
  "primary": $primary,
  "dark": $dark,
  "black": $black,
  "secondary": $secondary,
  "light": $light,
);

$accordion-button-active-bg: white;
$accordion-button-active-color: #333333;
$accordion-border-radius: 0px;
$accordion-inner-border-radius: 0px;
$headings-font-family: "Pontano Sans", Arial, Helvetica, sans-serif;
$font-family-base: "Muli", Arial, Helvetica, sans-serif;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1140px,
);
$breadcrumb-item-padding-x: 5px;

$spacer: 1rem;

$spacers: (
  0: 0,

  // 8px
  1: $spacer * 0.5,

  // 16px
  2: $spacer,

  // 24px
  3: $spacer * 1.5,

  // 32px
  4: $spacer * 2,

  // 40px
  5: $spacer * 2.5,

  // 48px
  6: $spacer * 3,

  // 56px
  7: $spacer * 3.5,

  // 64px
  8: $spacer * 4,

  // 72px
  9: $spacer * 4.5,

  // 80px
  10: $spacer * 5,

  // 88px
  11: $spacer * 5.5,

  // 96px
  12: $spacer * 6,

  // 128px
  16: $spacer * 8,

  24: $spacer * 12,
);

html,
body {
  overflow-x: hidden;
}

.icon-container:hover {
  .circle-wrapper {
    background-color: black;
  }

  h2,
  p {
    color: black !important;
  }
}

.circle-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 70px; /* Adjust the size of the circle */
  height: 70px; /* Adjust the size of the circle */
  background-color: #5c6770; /* Background color of the circle */
  border-radius: 50%; /* Create the circular shape */
}

.circle-wrapper i {
  color: white; /* Icon color */
}

#blog-container p {
  --wp--preset--font-size--normal: 16px;
  --wp--preset--font-size--huge: 42px;
  -webkit-text-size-adjust: 100%;
  font: 13px/20px "PTSansRegular", Arial, Helvetica, sans-serif;
  font-family: "Muli", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #747474;
  box-sizing: border-box;
  margin: 0;
  margin-bottom: 20px;
}

// .no-bullet {
//   list-style: none;
// }

// .btn-primary:hover,
// .btn-primary:focus,
// .btn-primary:active,
// .btn-primary.active {
//   color: white;
//   background-color: #1ba25b !important;
//   border-color: #1ba25b !important;
// }

// // contact form submit button
// .ButtonBase__Overlay-sc-p43e7i-4 {
//   color: white !important;
// }

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Pontano+Sans:wght@300;400;500;600;700&display=swap");
@import "~@fortawesome/fontawesome-free/css/all.min.css";

// @import "~bootstrap-icons/font/bootstrap-icons.css";
@import "node_modules/bootstrap/scss/bootstrap";
@import "~animate.css/animate.min.css";
